<div class="login-page">
    <mat-card class="mat-elevation-z12" id="signupBox">
      <mat-card-title style="text-align:center;">Sign Up</mat-card-title>
      <mat-card-content>
        <form class="my-form">
           <mat-form-field class="full-width">
                  <mat-label>Enter Email</mat-label>
                  <input  matInput  placeholder="Email"  name="email" id="email"  required>
               </mat-form-field>
               <mat-form-field class="full-width">
                  <mat-label>Enter Password</mat-label>
                  <input  matInput  placeholder="Password" name="password" id="password" required>
               </mat-form-field>
               <mat-form-field class="full-width">
                  <mat-label>Enter Mobile Number</mat-label>
                  <input  matInput  placeholder="mobileNumber" name="mobileNumber" id="mobilenumber"  required>
               </mat-form-field>
               <mat-form-field class="full-width">
                  <mat-label>Enter Seller Name</mat-label>
                  <input  matInput  placeholder="adminName" name="Seller Name" id="adminname" required>
               </mat-form-field>
               <mat-form-field class="full-width">
                  <mat-label>Enter Company Name</mat-label>
                  <input  matInput  placeholder="companyName" name="Company Name" id="companyname" required>
               </mat-form-field>
               <mat-form-field class="full-width">
                <mat-label>Enter Company Image Url</mat-label>
                <input  matInput  placeholder="companyImageUrl" name="Company Image Url" id="companyimageURL" required>
             </mat-form-field>
               <mat-form-field class="full-width">
                  <mat-label>Address</mat-label>
                  <input  matInput  placeholder="Address" name="address" id="companyAddress" required>
               </mat-form-field>
               
        </form>
        <button mat-raised-button class="login-button" id="submitButton" >
             Submit
          </button>
          <button mat-raised-button class="login-button" id="adminLoginLink" routerLink="/login" >
            Go to Login
         </button>
      </mat-card-content>
    </mat-card>
  </div>

